.team-member {
  display: flex;
  align-items: start;
}

.team-member img.profile {
  margin: 1rem;
  padding: 8px;
  display: inline-block;
  height: 300px;
}

.team-member .content {
  padding: 8px;
  display: flex;
  flex-direction: column;
}
