.team-member {
  display: flex;
  align-items: center;
}

.team-member img {
  padding: 8px;
  display: inline-block;
  height: 300px;
}

.team-member .content {
  padding: 8px;
  display: flex;
  flex-direction: column;
}
