#gentle-reminder, #carbonads {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color-tint);
}

.reminder {
  padding: 16px;
  text-align: center;
  line-height: 2;
}

#carbonads span {
    display: flex;
    flex-direction: row;
}

#carbonads > span {
    width: 100%;
    justify-content: space-between;
}

#carbonads > span > a {
    display: flex;
    align-items: flex-end;
    width: 100px;
    justify-content: flex-end;
}

#carbonads .carbon-wrap {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#carbonads {
  padding: 8px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#carbonads a {
  text-decoration: none !important;
  padding: 0 !important;
  margin: 0;
}

.carbon-img {
  display: block;
  padding: 0 !important;
  margin: 0;
  margin-bottom: 1em;
}

.carbon-img img {
  padding: 0;
  margin: 0;
  display: block;
  margin: 1px;
}

.carbon-text {
  padding: 0;
  margin: 0;
  display: block;
  margin-bottom: 1em;
  text-align: left;
}

.carbon-poweredby {
  padding: 0;
  margin: 0;
  display: block;
  text-align: right;
  font-size: 0.8em;
}
