.demo-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.column-main,
.column-events {
  display: flex;
  flex-direction: column;
}
.demo-header {
  display: flex;
  flex-direction: row;
}
.demo-body {
  display: flex;
  flex-direction: row;
}
#log1 {
  display: inline-block;
  width: 620px;
  height: 260px;
  overflow-y: scroll;
  overflow-x: scroll;
  font-family: monospace;
  font-size: 11px;
}
#log1 > p {
  border-bottom: 1px solid blue;
}
#drag-me {
  display: inline-block;
  width: 100px;
  background-color: purple;
  height: 100px;
}
