---
import './companies.css';
---
<section id="companies">
  <h2>Companies using Fabric.js</h2>
  <a href="https://automatio.ai" target="_blank">
    <img src="/logos/automatio.ai.png" alt="Automatio AI">
  </a>
</section>
