---
import './companies.css';

const logos = [
    {
        link: 'https://automatio.ai',
        description: 'Automatio AI',
        logo: '/logos/automatio.ai.png',
    },
    {
        link: 'https://zaparoo.org/',
        description: 'Zaparoo',
        logo: '/logos/zaparoo.png',
    }
]

---
<section id="companies">
  <h2>Companies using Fabric.js</h2>
  <div id="logos">
    {logos.map((logo) => <a href={logo.link} target="_blank">
        <div class="imageContainer">
            <img src={logo.logo} alt="Company logo">
        </div>
        <p>{logo.description}</p>
    </a>)}
  </div>
</section>
