---
import Layout from '../layouts/Layout.astro';
import Resources from '../components/Resources/Resources.astro';
---

<Layout title="Fabric.js Javascript Awesome  Projects" description="Using fabricjs related projects" >
	<main>
		<Resources />
	</main>
</Layout>
