---
import Layout from '../layouts/Layout.astro';
import FeaturedBanner from '../components/FeaturedBanner/FeaturedBanner.astro';
import Features from '../components/Features/Features.astro';
import ContributorsList from '../components/ContributorsList/ContributorsList.astro';
---

<Layout title="FabricJS">
	<main>
		<FeaturedBanner />
		<Features />
		<ContributorsList />
	</main>
</Layout>
