---
import Layout from '../layouts/Layout.astro';
import ResourcesList from '../components/Resources/Resources.astro';
---

<Layout
  title="Fabric.js Javascript Resources"
  description="Using fabricjs related projects"
>
  <main>
    <ResourcesList />
  </main>
</Layout>
