---
import './resources.css';

const links = [
    {
        link: 'https://github.com/cs-open/react-fabric',
        description: 'awesome  react + fabricjs library',
        name: '@cs-open/react-fabric',
    },
  
]

---
<section id="resources">
  <h2>Resources</h2>
    <ul>
        {
            links.map((link) => ()=> (<li><a href={link.link} target="_blank">{link.name}</a>: &nbsp;{link.description}</li>))
        }
    </ul>
</section>
